{% extends 'base.html' %}

{% load static %}
{% block image %}{% static 'img/home-bg.jpg' %}{% endblock %}

{% block pagetitle %}
  <h1>Лента</h1>

{% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      {% for article in lenta %}
        <div class="post-preview">
          <a href="{{ article.get_absolute_url }}">
            <h2 class="post-title">
              {{ article.title }}
            </h2>
          </a>
          <p>{{ article.body }}</p>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            {{ article.date }}</p>
        </div>
        <hr>
      {% endfor %}
      </div>
    </div>
  </div>

  <hr>

 {% endblock %}
