{% extends 'base.html' %}

{% load static %}
{% block image %}{% static 'img/post-bg.jpg' %}{% endblock %}

{% block pagetitle %}
  <h1>Post Me</h1>
  <span class="subheading">Have questions? I have answers.</span>
{% endblock %}

{% block content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form method="post" class="col-12 mx-auto" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Заголовок: {{ form.title }}</p>
            <p>Основной текст: {{ form.body }}</p>
            <p>Картинка: {{ form.image }}</p>
            <button class="btn btn-success" type="submit" name="button">ok</button>
          </form>
          {% for article in articles %}
            <h2 class="section-heading">{{ article.title }}</h2>
            <img class="col-12" src="{{ article.image.url }}" alt="">
            <p>{{ article.body }}</p>
            <blockquote class="blockquote">{{ article.date }}</blockquote>
          {% endfor %}
          <p>Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock %}
